/* Corps de la page */
body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  display: flex;
  overflow-x: hidden;
  flex-direction: column; /* Organisation verticale */
  min-height: 100vh; /* Hauteur minimale : 100% de la hauteur de la fenêtre */
}

/* Header */
header {
  background: #9c9c9c;
  color: #ffffff;
  padding: 10px 0;
  text-align: center;
}

/* Navigation */
header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap; /* Permet de s'adapter si les éléments débordent */
}

/* Liens de navigation */
header nav ul li a {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  transition: background-color 0.3s ease;
}

header nav ul li a:hover {
  background-color: #666;
}

/* Contenu principal */
main {
  flex: 1; /* Occupe l'espace disponible entre header et footer */
  padding: 20px;
}

/* Footer */
footer {
  background: #333;
  color: #fff;
  text-align: left;
  padding: 20px;
  width: 100%;
  position: relative;
}

footer .copyright {
  order: 2; /* Positionne le copyright après les icônes sociales */
  margin-top: 5px; /* Ajoute un espace au-dessus */
  margin-bottom: 5px;
  font-size: 0.9rem; /* Ajuste la taille de la police */
}

/* Section des icônes sociales */
.social-icons {
    order: 1;
    display: flex;
    gap: 15px; /* Espacement entre les icônes */
    margin-top: 10px;
    position: relative;
    justify-content: flex-end; /* Alignement à droite par défaut (ordinateur) */
    padding-right: 40px; /* Espace entre les icônes et le bord droit */
    padding-top: 25px;
}

/* Style des images des icônes */
.social-icons img {
    width: 50px; /* Taille des icônes */
    height: 50px;
    border-radius: 50%; /* Icônes arrondies */
    transition: transform 0.3s ease, filter 0.3s ease;
}

.social-icons a:hover img {
    transform: scale(1.2); /* Agrandir légèrement au survol */
    filter: brightness(1.2); /* Éclaircir au survol */
}

/* Médias queries : style pour les petits écrans */
@media (max-width: 768px) {
    .social-icons {
        justify-content: center; /* Centre les icônes sur mobile */
        padding-right: 0; /* Retire l'espace inutile à droite */
    }
}
